# https://docs.travis-ci.com/user/languages/python/
language: python

python:
  - "2.7"
  - "3.5"
  - "3.6"

env:
  global:

  - PYPI_USER='jonathandekhtiar'

  # See https://docs.travis-ci.com/user/encryption-keys/ for more details about secure keys.

  ### == PYPI_PASSWORD === ###
  ## To update: travis encrypt PYPI_PASSWORD=################################
  - secure: "fGIRDjfzzP9DhdDshgh/+bWTZ5Y0jTD4aR+gsT1TyAyc6N4f3RRlx70xZZwYMdQ+XC3no/q4na8UzhhuSM0hCCM1EaQ78WF1c6+FBScf4vYGoYgyJ1am+4gu54JXt+4f0bd+s6jyYBafJALUJp5fqHoxCUXqzjrOqGBBU2+JbL71Aaj8yhQuK0VPPABexsQPQM312Gvzg7hy9dh63J0Q02PqINn+CTcwq3gLH9Oua58zWQ7TaT0cdy/hzAc6Yxy3ajo2W5NU+nKROaaG9W57sa7K/v1dshDFFFST2DdGxm9i7vvfPsq0OWM6qWLsec/4mXJWsmai2ygZEv+IhaABb10c7spd2nl7oHFj2UGmldtO5W0zLb1KkCPWDPilFt3lvHM+OS/YaibquL5/5+yGj0LsRJrVyWoMBA8idcQeH4dvTAfySeFpO42VNwW5ez9JaEOh7bBp7naAA8c/fbNJJ5YEW4MEmOZ9dwFTohNNDiN+oITSrcXBS+jukbfTOmtCeYNUker+4G2YwII9cxHXbZeIMrTq9AqTfOVTAYCFaFHKbpSc1+HCyF7n5ZfNC00kBaw93XUnLRzSNKe5Ir791momYL8HecMN3OAI77bz26/pHSfzJnLntq9qx2nLBTnqDuSq5/pHvdZ8hyt+hTDxvF7HJIVMhbnkjoLPxmn4k/I="

  ### === GITHUB_PERSONAL_TOKEN === ###
  ## To update: travis encrypt GITHUB_PERSONAL_TOKEN=################################
  - secure: "GmdokEVWFS4LlSIdhfYvET+53hcuN9gN5gbhYduWkvyqvCJnP5PENzxdDz6Y3EJCSXxfKTT+jBLmJkgOElgeWxyAEa+wGj3jJzpjFD8BEcxIf5mNsyJ2LryzecFoKjcCR7viid14GDEYSeA3UB0MgKgitm9rMmcQ2W9RLJfAmTfGRQ+kMwhM7GTeFc5c99YL7DW7AUFSbiAac/k50AMx2j9KNT1JAGhDoc5yVTdVvtKrdtuCZUa82q4Cm/h4IEd6BbNrcImYyxQ814LHCrHWBi9jmuc+UxqvsTH1ErNapIObz490ri3DmZg+LUrH5dIuhSa5HGqZjob6tKG6XCKFWOuv9E73+URDitJllXHc1qSP/K61SMmsQrE2FnaxVjxpQCOcqueRMKszwH5/k3UoGbUPWsBFwbBznXrnHO/DNHAgL9XwOFP6biPP8TKp2ReX41YwcU6sbiYb7naGWo3Dhe+yEB9wBGOwuGHipDQm9R4SSIJgjpdc642KjcEMQqb3yL7DWpOmItXMxoGNM+X93kU4u4u1tGgq1yxnhEk6VG2l/yI6A2QOVIPyOu+L9FkZL3mrl9mbUeBKr/SHX4CTFODi5io8D0lqwNSRZrmi/GGWh2glbNnTapD67UnTnsh/6LE2YiSqGteH47EByb9V4ykrjfdv5EZhyJNwI7jYPDw="

  # DANGER_GITHUB_API_TOKEN
  - secure: "Gwj32xBnwb4+HsNc2vMaH3oFm4eyv/a8a0vz+R0G5KxBCZi/pKJIlkJKA2ECvKAqcEjneVJUXL426u8rhbezvcl+duQS5sm8VlZx79BDKoQ7lkKBbTllXS1wNlM9YE8OI1QdSjCTVzR9AH65bDWIdxDoKqIUKbG3iOIEe57xeMgxHyHXbUe5b1hBByszILnFJv6NB+dYVBnJp31PJ1ts+8fiGoxAOrUq7LlnG9EzfMjKEmlOHJL++igRsGIQgEUfdDyD+6uGRVcj6MxJ8gX3jMsSoiwUk6Pfp3Q7+BcHjGc3VZNjJ4u3SC/eZ5chDiwhuK+h985GFvEo/Q3fwUwFK0L40iX/J8asp8J8bfL+ygax+BkU1ivr678f5WxwB+Lwzkwmq1u/UZH3tiqZ/q1qFs4hnuxceBWh4dSmtYcxKWsVV2dRXQpoA7ap3hlRptUE3KK2NvsyOdxo4gqCGGxduwyc71z6eZKjXMCXumz6L+Wj34XEDGvA4BWmnWetpc2KywfTFm/2UshxJOXD5RWOkYOGgWojdDQ5n90l16oyVq+23bDXOtKPSQ0UDbleh0u97atDnpY08JLFudNf4W4CK+IZFsu608FwfMy0TPMFPd/kYEcz+dOTluNxO1lSUxcFItmM/05NboEsuYMnreHoFJfNNxiHMeF/kb4DuAEG2jQ="


install:
  - pip install -e .[tf_cpu,db,dev,test,doc]

script:
  # units test
  # https://docs.pytest.org/en/latest/
  - pytest
  - bundle install
  - bundle exec danger

before_deploy:
  - python setup.py sdist
  - python setup.py bdist_wheel
  - python setup.py bdist_wheel --universal
  - python setup.py egg_info


deploy:

# Documentation: https://docs.travis-ci.com/user/deployment/pypi/
- provider: pypi
  user: "$PYPI_USER"
  password: "$PYPI_PASSWORD"
  skip_cleanup: true
  on:
    tags: true
    python: '3.6'

# Documentation: https://docs.travis-ci.com/user/deployment/releases/
- provider: releases
  file:
    - dist/*
    - tensorlayer.egg-info/PKG-INFO
  file_glob: true
  skip_cleanup: true
  api_key: "$GITHUB_PERSONAL_TOKEN"
  on:
    tags: true
    python: '3.6'
