version: 2

jobs:

###################################################################################
#           MASTER BRANCH BUILDS with TensorLayer installed from Source           #
###################################################################################

  nightly_pypi_py2_cpu:
    working_directory: ~/build
    docker:
      - image: docker:git
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true

      - run:
          name: NIGHTLY BUILD - Build Docker Image Python 2 CPU with Tensorlayer installed from Source
          command: |
            cd docker

            apk add --update py-pip

            python -m pip install --upgrade pip
            pip install --upgrade requests

            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin

            TL_VERSION="$(python pypi_list.py --package tensorlayer --prerelease --nth_last_version 1)"
            echo TL_VERSION="$TL_VERSION"

            VERSION_PREFIX="nightly"
            echo VERSION_PREFIX="$VERSION_PREFIX"

            docker build -t latest_py2_cpu python2/cpu --build-arg TL_VERSION="$TL_VERSION"

            # ============== Nightly Python2 CPU Containers ==============

            CONTAINER_TAG="$VERSION_PREFIX"
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-cpu
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-py2
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-cpu-py2
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

  nightly_pypi_py2_gpu:
    working_directory: ~/build
    docker:
      - image: docker:git
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true

      - run:
          name: NIGHTLY BUILD - Build Docker Image Python 2 GPU with Tensorlayer installed from Source
          command: |
            cd docker

            apk add --update py-pip

            python -m pip install --upgrade pip
            pip install --upgrade requests

            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin

            TL_VERSION="$(python pypi_list.py --package tensorlayer --prerelease --nth_last_version 1)"
            echo TL_VERSION="$TL_VERSION"

            VERSION_PREFIX="nightly"
            echo VERSION_PREFIX="$VERSION_PREFIX"

            docker build -t latest_py2_gpu python2/gpu --build-arg TL_VERSION="$TL_VERSION"

            # ============== Nightly Python2 GPU Containers ==============

            CONTAINER_TAG="$VERSION_PREFIX"-gpu
            docker tag latest_py2_gpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-gpu-py2
            docker tag latest_py2_gpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

  nightly_pypi_py3_cpu:
    working_directory: ~/build
    docker:
      - image: docker:git
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true

      - run:
          name: NIGHTLY BUILD - Build Docker Image Python 3 CPU with Tensorlayer installed from Source
          command: |
            cd docker

            apk add --update py-pip

            python -m pip install --upgrade pip
            pip install --upgrade requests

            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin

            TL_VERSION="$(python pypi_list.py --package tensorlayer --prerelease --nth_last_version 1)"
            echo TL_VERSION="$TL_VERSION"

            VERSION_PREFIX="nightly"
            echo VERSION_PREFIX="$VERSION_PREFIX"

            docker build -t latest_py3_cpu python3/cpu --build-arg TL_VERSION="$TL_VERSION"

            # ============== Nightly Python3 CPU Containers ==============

            CONTAINER_TAG="$VERSION_PREFIX"-py3
            docker tag latest_py3_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-cpu-py3
            docker tag latest_py3_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"


  nightly_pypi_py3_gpu:
    working_directory: ~/build
    docker:
      - image: docker:git
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true

      - run:
          name: NIGHTLY BUILD - Build Docker Image Python 3 GPU with Tensorlayer installed from Source
          command: |
            cd docker

            apk add --update py-pip

            python -m pip install --upgrade pip
            pip install --upgrade requests

            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin

            TL_VERSION="$(python pypi_list.py --package tensorlayer --prerelease --nth_last_version 1)"
            echo TL_VERSION="$TL_VERSION"

            VERSION_PREFIX="nightly"
            echo VERSION_PREFIX="$VERSION_PREFIX"

            docker build -t latest_py3_gpu python3/gpu --build-arg TL_VERSION="$TL_VERSION"

            # ============== Nightly Python3 GPU Containers ==============

            CONTAINER_TAG="$VERSION_PREFIX"-gpu-py3
            docker tag latest_py3_gpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

###################################################################################
#                 TAGS BUILDS with TensorLayer installed from PyPI                #
###################################################################################

  build_pypi_py2_cpu:
    working_directory: ~/build
    docker:
      - image: docker:git
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true

      - run:
          name: RELEASE BUILD - Build Docker Image Python 2 CPU with Tensorlayer installed from PyPI
          command: |
            cd docker

            apk add --update py-pip

            python -m pip install --upgrade pip
            pip install --upgrade requests

            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin

            TL_VERSION="$(python pypi_list.py --package tensorlayer --prerelease --nth_last_version 1)"
            echo TL_VERSION="$TL_VERSION"

            VERSION_PREFIX="$(python version_prefix.py --version="$TL_VERSION")"
            echo VERSION_PREFIX="$VERSION_PREFIX"

            docker build -t latest_py2_cpu python2/cpu --build-arg TL_VERSION="$TL_VERSION"

            # ============== Latest Python2 CPU Containers ==============

            CONTAINER_TAG="$VERSION_PREFIX"
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-cpu
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-py2
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-cpu-py2
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            # ============== Tag Python2 CPU Containers ==============

            CONTAINER_TAG="$TL_VERSION"
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$TL_VERSION"-cpu
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$TL_VERSION"-py2
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$TL_VERSION"-cpu-py2
            docker tag latest_py2_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

  build_pypi_py2_gpu:
    working_directory: ~/build
    docker:
      - image: docker:git
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true

      - run:
          name: RELEASE BUILD - Build Docker Image Python 2 GPU with Tensorlayer installed from PyPI
          command: |
            cd docker

            apk add --update py-pip

            python -m pip install --upgrade pip
            pip install --upgrade requests

            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin

            TL_VERSION="$(python pypi_list.py --package tensorlayer --prerelease --nth_last_version 1)"
            echo TL_VERSION="$TL_VERSION"

            VERSION_PREFIX="$(python version_prefix.py --version="$TL_VERSION")"
            echo VERSION_PREFIX="$VERSION_PREFIX"

            docker build -t latest_py2_gpu python2/gpu --build-arg TL_VERSION="$TL_VERSION"

            # ============== Latest Python2 GPU Containers ==============

            CONTAINER_TAG="$VERSION_PREFIX"-gpu
            docker tag latest_py2_gpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-gpu-py2
            docker tag latest_py2_gpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            # ============== Tag Python2 GPU Containers ==============

            CONTAINER_TAG="$TL_VERSION"-gpu
            docker tag latest_py2_gpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$TL_VERSION"-gpu-py2
            docker tag latest_py2_gpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

  build_pypi_py3_cpu:
    working_directory: ~/build
    docker:
      - image: docker:git
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true

      - run:
          name: RELEASE BUILD - Build Docker Image Python 3 CPU with Tensorlayer installed from PyPI
          command: |
            cd docker

            apk add --update py-pip

            python -m pip install --upgrade pip
            pip install --upgrade requests

            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin

            TL_VERSION="$(python pypi_list.py --package tensorlayer --prerelease --nth_last_version 1)"
            echo TL_VERSION="$TL_VERSION"

            VERSION_PREFIX="$(python version_prefix.py --version="$TL_VERSION")"
            echo VERSION_PREFIX="$VERSION_PREFIX"

            docker build -t latest_py3_cpu python3/cpu --build-arg TL_VERSION="$TL_VERSION"

            # ============== Latest Python3 CPU Containers ==============

            CONTAINER_TAG="$VERSION_PREFIX"-py3
            docker tag latest_py3_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$VERSION_PREFIX"-cpu-py3
            docker tag latest_py3_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            # ============== Tag Python3 CPU Containers ==============

            CONTAINER_TAG="$TL_VERSION"-py3
            docker tag latest_py3_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            CONTAINER_TAG="$TL_VERSION"-cpu-py3
            docker tag latest_py3_cpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"


  build_pypi_py3_gpu:
    working_directory: ~/build
    docker:
      - image: docker:git
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true

      - run:
          name: RELEASE BUILD - Build Docker Image Python 3 GPU with Tensorlayer installed from PyPI
          command: |
            cd docker

            apk add --update py-pip

            python -m pip install --upgrade pip
            pip install --upgrade requests

            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin

            TL_VERSION="$(python pypi_list.py --package tensorlayer --prerelease --nth_last_version 1)"
            echo TL_VERSION="$TL_VERSION"

            VERSION_PREFIX="$(python version_prefix.py --version="$TL_VERSION")"
            echo VERSION_PREFIX="$VERSION_PREFIX"

            docker build -t latest_py3_gpu python3/gpu --build-arg TL_VERSION="$TL_VERSION"

            # ============== Latest Python3 GPU Containers ==============

            CONTAINER_TAG="$VERSION_PREFIX"-gpu-py3
            docker tag latest_py3_gpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"

            # ============== Tag Python3 GPU Containers ==============

            CONTAINER_TAG="$TL_VERSION"-gpu-py3
            docker tag latest_py3_gpu:latest tensorlayer/tensorlayer:"$CONTAINER_TAG"
            docker push tensorlayer/tensorlayer:"$CONTAINER_TAG"


workflows:
  version: 2
  build-and-deploy:
    jobs:
      - nightly_pypi_py2_cpu:
          filters:
            tags:
              ignore: /.*/
            branches:
              #only: master
              only: /.*/

      - nightly_pypi_py2_gpu:
          filters:
            tags:
              ignore: /.*/
            branches:
              #only: master
              only: /.*/

      - nightly_pypi_py3_cpu:
          filters:
            tags:
              ignore: /.*/
            branches:
              #only: master
              only: /.*/

      - nightly_pypi_py3_gpu:
          filters:
            tags:
              ignore: /.*/
            branches:
              #only: master
              only: /.*/


      - build_pypi_py2_cpu:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/

      - build_pypi_py2_gpu:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/

      - build_pypi_py3_cpu:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/

#      - build_pypi_py3_gpu:
#          filters:
#            tags:
#              only: /.*/
#            branches:
#              ignore: /.*/


#if [[ ! -z $CIRCLE_PULL_REQUEST ]] ;
#if [[ ! -z $CIRCLE_TAG ]] ;
#if [[ ! -z $CIRCLE_BRANCH && $CIRCLE_BRANCH == 'master']] ;
#then
#  ...
#else
#  echo "Not a release, skipping build"
#fi
